---
layout: default
title: TunedCoder
---
<div class="cover-v1 jarallax" style="background-image: url('/assets/images/1900.jpg');" id="home-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-7 mx-auto text-center">
				<h1 class="heading gsap-reveal-hero">Welcome</h1>
				<h2 class="subheading gsap-reveal-hero">I’m <span style ="font-weight: bold;"> Dhyan Thakkar</span> <br> An ENGINEER In the Making.</h2>
			</div>
		</div>
	</div>
	<a href="#portfolio-section" class="mouse-wrap smoothscroll">
		<span class="mouse">
			<span class="scroll"></span>
		</span>
		<span class="mouse-label">Scroll</span>
	</a>
</div>
<div class="relative">
	<div class="loader-portfolio-wrap">
		<div class="loader-portfolio"></div>
	</div>
</div>
<div id="portfolio-single-holder"></div>
<!--
<div class="portfolio-wrapper">
							<div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
														<h2 class="mr-auto heading-h2"><span class="gsap-reveal">Portfolio</span></h2>
							</div>
</div>
-->
<div class="unslate_co--section" id="about-section">
	<div class="container">
		<div class="section-heading-wrap text-center mb-5">
			<h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Me</span></h2>
			<span class="gsap-reveal">
				<img src="/assets/images/divider.png" alt="divider" width="76"/>
			</span>
		</div>
		<div class="row mt-5 justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<figure class="dotted-bg gsap-reveal-img ">
					<img src="/assets/images/804.jpg" alt="Image" class="img-fluid"/>
				</figure>
			</div>
			<div class="col-lg-4 pr-lg-5">
				<h3 class="mb-4 heading-h3"><span class="gsap-reveal">A Brief Introduction.</span></h3>
				<p class="lead gsap-reveal">I am  Dhyan Thakkar and Currently Studying Engineering at Institute of Technolgy at Nirma University, Ahmedabad </p>
				<p class="mb-4 gsap-reveal"> I have Sucessfully Completed many Online Courses about Python and Cyber Security from Esteemed Learning Platforms. I am Currently Aspiring to become an insightful and Sucessful Engineer and a Better Contributer to the Society </p>
				<p class="gsap-reveal"><a href="https://www.linkedin.com/in/dhyanthakkar" class="btn btn-outline-pill btn-custom-light">Download	 my CV</a><!--linkedin--></p>
			</div>
		</div>
	</div>
</div>
<div class="unslate_co--section" id="blog-section">
	<div class="container">
		<div class="section-heading-wrap text-center mb-5">
			<h2 class="heading-h2 text-center divider"><span class="gsap-reveal">BLOG</span></h2>
			<span class="gsap-reveal"><img src="/assets/images/divider.png" alt="divider" width="76"></span>
		</div>
		<div class="section-heading-wrap text-center text-center">
			<h3 class="heading-h3 text-center divider"><span class="gsap-reveal">Work in progress</span></h3>
		</div>
		<div class="row gutter-v4 align-items-stretch">
			{% for post in site.posts %}
				{% if post.status == "published" %}
					{% if post.size == "long" %}
						<div class="col-sm-6 col-md-6 col-lg-8 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
						{% endif %}
						{% if post.size == "small" %}
							<div class="col-sm-6 col-md-6 col-lg-4 blog-post-entry" data-aos="fade-up" data-aos-delay="100">
							{% endif %}
							
							<a href="{{ post.url }}" class="grid-item blog-item w-100 h-100">
								<div class="overlay">
									<div class="portfolio-item-content">
										<h3>{{ post.title }}</h3>
										<p class="post-meta">By {{ post.author }} <span class="small">&bullet;</span>  {{ post.readtime }} mins read</p>
									</div>
								</div>
								<img src="/assets/images/{{ post.img }}.jpg" class="lazyload" alt="Image" />
							</a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="unslate_co--section" id="fields-section">
		<div class="container">
			<div class="section-heading-wrap text-center mb-5">
				<h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Fields</span></h2>
				<span class="gsap-reveal"><img src="/assets/images/divider.png" alt="divider" width="76"/></span>
			</div>
			<div class="row gutter-v3">
				<div class="col-md-6 col-lg-4 mb-4">
					<div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
						<div class="wrap-icon mb-3">
							<img src="/assets/images/svg/001-options.svg" alt="Image" width="45"/>
						</div>
						<h3>Aspiring <br> Programmer</h3>
						<p>I am Novice Programmer using Python and am emerging Critical Thinker and Practical Problem Solver.  </p>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-4 mb-4">
					<div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
						<div class="wrap-icon mb-3">
							<img src="/assets/images/svg/002-chat.svg" alt="Icon" width="45"/>
						</div>
						<h3>Web <br> Design</h3>
						<p>I work on Templates and Work On Online Profiles to help Setup Personal Blogs.</p>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-4 mb-4">
					<div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
						<div class="wrap-icon mb-3">
							<img src="/assets/images/svg/005-line-chart.svg" alt="Image" width="45"/>
						</div>
						<h3>Music
						</h3>
						<p>A Guitarist Turned Gamer, and Live Performer using His Creativity to reach the PEAK. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="unslate_co--section section-counter" id="skills-section">
		<div class="container">
			<div class="section-heading-wrap text-center mb-5">
				<h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
				<span class="gsap-reveal"><img src="/assets/images/divider.png" alt="divider" width="76"/></span>
			</div>
			<div class="row pt-5">
				<div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
					<div class="counter-v1 text-center">
						<span class="number-wrap">
							<span class="number number-counter" data-number="80">0</span>
							<span class="append-text">%</span>
						</span>
						<span class="counter-label">HTML/CSS</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
					<div class="counter-v1 text-center">
						<span class="number-wrap">
							<span class="number number-counter" data-number="95">0</span>
							<span class="append-text">%</span>
						</span>
						<span class="counter-label">PYTHON</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
					<div class="counter-v1 text-center">
						<span class="number-wrap">
							<span class="number number-counter" data-number="90">0</span>
							<span class="append-text">%</span>
						</span>
						<span class="counter-label">MUSIC</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
					<div class="counter-v1 text-center">
						<span class="number-wrap">
							<span class="number number-counter" data-number="100">0</span>
							<span class="append-text">%</span>
						</span>
						<span class="counter-label">Hardwork</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END .counter -->